
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
body {
    font-size: 14px;
    font-weight: normal;
}
nav.navbar.navbar-expand-lg {
margin-bottom: 20px;
}
.my_bg{
    background-color: #eee;
    padding :20px ; 
    border-radius: 10px;
}